on:
  push:
    branches: aboutme
#  schedule:
#    # * is a special character in YAML so you have to quote this string
#    - cron:  '* */12 * * *
 
name: update-aboutme

jobs:
  build:
    runs-on: macOS-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@master

      - name: Setup R
        uses: r-lib/actions/setup-r@master

      - name: Install pandoc and pandoc citeproc
        run: |
          brew install pandoc
          brew install pandoc-citeproc
    
      - name: Install packages
        run: | 
          R -e 'install.packages(c("blogdown", "here"))' \
            -e 'install.packages(c("dplyr", "tidyr", "ggplot2", "stringr"))' \
            -e 'install.packages(c("glue", "knitr", "scholar"))' \
            -e 'install.packages(c("gargle", "sodium"))' \
            -e 'install.packages(c( "googlesheets4", "googledrive", "httr"))' 
 
      - name: Install hugo
        run: |
          R -e 'blogdown::install_hugo()'

      - name: Re-build aboutme
        env:
          DRMOWINCKELS_PASSWORD: ${{ secrets.DRMOWINCKELS_PASSWORD }}
        run: |
          Rscript -e 'blogdown:::build_rmds("content/aboutme/aboutme.Rmd")' 
          
      - name: Install npm
        uses: actions/setup-node@v1

      - name: Deploy to Netlify
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          npm install netlify-cli -g
          netlify deploy --prod